<div class="body">
    <nav-menu></nav-menu>

    <div class="alignment" align="center">
        <div class="welcome image">
            <img src="../../assets/images/welcome-boat.jpg" alt="Photo of a boat" />
            <div class="image-content">

                <h1 class="header"><span>Welcome</span></h1>
                <button [routerLink]="['/membership']">
                    Become A Member
                </button>

            </div>

        </div>

        <div class="about">
            <h1 class="header">About</h1>
            <button [routerLink]="['/about']">History</button>
            <button [routerLink]="['/about']">Fleet</button>
        </div>

        <div class="booking">
            <div class="row">
                <div class="reservation col-sm-6">
                    <h1 class="header">Booking</h1>
                    <button [routerLink]="['/booking']">Reserve</button>
                </div>
                <div class="boats col-sm-6">
                    <button class="arrows"><</button>
                    <h1 class="header">Boats</h1>
                    <button class="arrows">></button>
                </div>
            </div>
        </div>

        <div class="events">
            <events></events>
        </div>

        <div class="faq">
            <faq></faq>
        </div>
        <div class="footer">
            <footer></footer>
        </div>
    </div>
</div>