.welcome {
    position: relative;
    text-align: center;
}

.welcome > img {
    position: relative;
    width: 100%;
    
}

.image-content {
    /*background-color: rgba(0, 0, 0, 0.30);
    padding: 40px 120px 40px 120px;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-content > h1 {
    color: white;
}

.image-content > button {

    color: white;
    background-color: transparent;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
    font-style: italic ;
    font-family: 'Century Gothic';
}