.navbar, .navbar-inverse {
    background-color: #3c526b;
    border: none;
    border-radius: 0px;
}

.navbar-toggle {
    border: white;
}

.navbar-brand {
    color: white;
}

.nav, .navbar-nav a {
    color: white;
}

.nav, .navbar-nav a:hover {
    color: #7d91a7;
}

.link-active > a {
    color: #3c526b;
    background-color: white;
}

.link-active > a:hover {
    color: #3c526b;
    background-color: white;
}

.login-modal {
    width: 400px;
}

.login-link > a:hover {
    cursor: pointer;
}


